# Development proposes
This script is used for incremental programming.

In [1]:
import US24UW990JEPL_01
import pandas as pd
import numpy as np
import os

In [2]:
# Setting
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

In [3]:
init = US24UW990JEPL_01.Initializer('/blue/mateescu/agustinchasco/Projects/reprojersey/data',
                                    '/blue/mateescu/agustinchasco/Projects/reprojersey/core',
                                    1)

# Creates directory if not present.
init.Directories()

# Initialize format mappers.
init.GetFormatMap()

Initialization:

Code ipykernel_launcher.py starts.
Codes executed when testing is 1.
Running program in /blue/mateescu/agustinchasco/Projects/reprojersey/core.
Reading data in /blue/mateescu/agustinchasco/Projects/reprojersey/data.
Saving data in /blue/mateescu/agustinchasco/Projects/reprojersey/data.
Time profiling starts. Program executed on 03-20-2025 at 08:47 PM EST.

Path `/blue/mateescu/agustinchasco/Projects/reprojersey/data/ipykernel_launcher/test` already exists.

# CRF with implementation. Paths must be flexible.# Read data
Below I am hardocind the baby dtaaset to avoind overflows. In `.py` script you need to handle this.p

# CRF with implementation. Paths must be flexible.

In [4]:
print(f'Reading f4 data in 010503... \n')
pdf4_03 = init.TXT_reader(target_path=init.TargetPath('US24UW990JEPL.01.05.03_test_pdf4u.txt'),
                          format_file=4)
print(f'Reading f5 data in 010503... \n')
pdf5_03 = init.TXT_reader(target_path=init.TargetPath('US24UW990JEPL.01.05.03_test_pdf5u.txt'),
                          format_file=5)

Reading f4 data in 010503...

Reading f5 data in 010503...

# CRF with implementation. Paths must be flexible.

In [5]:
print(f'Reading f4 data in 010504... \n')
pdf4_04 = init.TXT_reader(target_path=init.TargetPath('US24UW990JEPL.01.05.04_test_f4nu_u.txt'),
                          format_file=4)
print(f'Reading f5 data in 010504... \n')
pdf5_04 = init.TXT_reader(target_path=init.TargetPath('US24UW990JEPL.01.05.04_test_f5nu_u.txt'),
                          format_file=5)

Reading f4 data in 010504...

Reading f5 data in 010504...

In [6]:
pdf4_03['key'] = pdf4_03['X3'] + pdf4_03['X4'] + pdf4_03['X5'] + pdf4_03['X35']
pdf5_03['key'] = pdf5_03['X3'] + pdf5_03['X4'] + pdf5_03['X5'] + pdf5_03['X35']

pdf4_04['key'] = pdf4_04['X3'] + pdf4_04['X4'] + pdf4_04['X5'] + pdf4_04['X35']
pdf5_04['key'] = pdf5_04['X3'] + pdf5_04['X4'] + pdf5_04['X5'] + pdf5_04['X35']

# Check before rbind

In [7]:
# f4
assert pdf4_03.shape[1] == pdf4_04.shape[1]
assert not any(pdf4_03.columns != pdf4_04.columns)
assert int(pdf4_03['key'].isin(pdf4_04['key']).sum()) == 0


# f5
assert pdf5_03.shape[1] == pdf5_04.shape[1]
assert not any(pdf5_03.columns != pdf5_04.columns)
assert int(pdf5_03['key'].isin(pdf5_04['key']).sum()) == 0

# Stack datasets

In [8]:
pdf4 = pd.concat([pdf4_03, pdf4_04], ignore_index=True)
pdf5 = pd.concat([pdf5_03, pdf5_04], ignore_index=True)

# Record data changes

In [9]:
print(f'pdf4_03.shape[0] = {pdf4_03.shape[0]} \n'
      f'pdf4_04.shape[0] = {pdf4_04.shape[0]} \n'
      f'pdf4.shape[0] = {pdf4.shape[0]} \n\n'
      f'pdf5_03.shape[0] = {pdf5_03.shape[0]} \n'
      f'pdf5_04.shape[0] = {pdf5_04.shape[0]} \n'
      f'pdf5.shape[0] = {pdf5.shape[0]} \n\n')

pdf4_03.shape[0] = 17828
pdf4_04.shape[0] = 5525
pdf4.shape[0] = 23353

pdf5_03.shape[0] = 13519
pdf5_04.shape[0] = 5334
pdf5.shape[0] = 18853

# Identify columns among datasets
- Some columns are sopposed to be shared in both datasets.
    - Among shared column $j_4 = j_5$, data in position $i_4 = i_5$. This would make sense.
    - Among shared column $j_4 = j_5$, data in position $i_4 \neq i_5$. This would not make sense.
- Other columns are supposed to be dataset-specific.
    - $j_4 \neq j_5$. You should add column.
 
The question is:
- Which columns are supposed to be equal in your dataset?
- Which columns are supposed to be different in your datasets?
- What is the smartest/fastest way to do the merging, avoiding GIGO

In [11]:
!pip install lxml
f4map = pd.read_html(init.TargetPath('US24UW990JEPL.01.02.03.f4map.html'))[0]
f5map = pd.read_html(init.TargetPath('US24UW990JEPL.01.02.02.f5map.html'))[0]

In [12]:
f4map.head()

,Column number,Description,Index
0,X1,Field Description -> 0 -> Field Description -> Species code of the animal,1
1,X2,Field Description -> 1 -> Field Description -> Sex code of the animal,2
2,X3,"Animal Identification Information -> 0 -> Field Description -> Breed code of animal (alpha code only, no zeros)",3-4
3,X4,Animal Identification Information -> 1 -> Field Description -> Country code of ID origin,5-7
4,X5,Animal Identification Information -> 2 -> Field Description -> Identification number of animal (registration or eartag),8-19

In [14]:
f5map.head()

,Column number,Description,Index
0,X1,Field Description -> 0 -> Field Description -> Species code of the animal,1
1,X2,Field Description -> 1 -> Field Description -> Sex code of the animal,2
2,X3,"Animal Identification Information -> 0 -> Field Description -> Breed code of animal (alpha code only, no zeros)",3-4
3,X4,Animal Identification Information -> 1 -> Field Description -> Country code of ID origin,5-7
4,X5,Animal Identification Information -> 2 -> Field Description -> Identification number of animal (registration or eartag),8-19

In [15]:
A = f4map['Description'].to_numpy()
B = f5map['Description'].to_numpy()

## Idnetify intersections in both sets

In [16]:
f4inf5 = f4map['Description'][np.isin(A, B)]
f5inf4 = f5map['Description'][np.isin(B, A)]

## Map intersection to columns

In [17]:
col_f4inf5 = f4map['Column number'][np.isin(f4map['Description'].to_numpy(), f4inf5)]
col_f5inf4 = f5map['Column number'][np.isin(f5map['Description'].to_numpy(), f5inf4)]

col_f4notinf5 = f4map['Column number'][~np.isin(f4map['Description'].to_numpy(), f4inf5)]
col_f5notinf4 = f5map['Column number'][~np.isin(f5map['Description'].to_numpy(), f5inf4)]

assert len(col_f4inf5) + len(col_f4notinf5) == len(f4map['Column number'])
assert len(col_f5inf4) + len(col_f5notinf4) == len(f5map['Column number'])

### Alternatives:
- I could delete columns in `f5` that are already in `f4`. Then proceed adding line by line columns in `f4` not in `f5` to `f5`.
    - **PROS:** Quickly. Straight forward.
    - **CONS:** You are assuming deletted columns have the same information.... I would expect that for key, as both datasets were intentionally filtered by spanned keys... but..., what if same key (ID + calving date) has different sire information? ... Can you assume that? Are you sure data is consistent?....

**Decision:**

Avoid **GIGO** (Garbage In, Garbage Out).

In Henry Ford's words:

```
Quality means doing it right when no one is looking.
```

## Combine $p_{f4}$ and $p_{f5}$ columns in a new dataset with $p_{f4} + p_{f5}$ columns.

### Rename columns in both datasets to avopid overlaping.

In [52]:
pdf4.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X306,X307,X308,X309,X310,X311,X312,X313,X314,key
0,0,F,JE,000,000000000000,JE,USA,000112755267,,,...,0,0,0,00,000,0000,00,00,00,JE00000000000000020120216
1,0,F,JE,000,000000000000,JE,USA,00099PJS0104,JE,USA,...,0,0,0,00,000,0000,00,00,00,JE00000000000000020161013
2,0,F,JE,000,000000000000,JE,USA,000072520700,JE,USA,...,0,0,0,00,000,0000,00,00,00,JE00000000000000020210726
3,0,F,JE,840,000067269606,JE,USA,000117968233,JE,USA,...,0,0,0,00,000,0000,00,00,00,JE84000006726960620160505
4,0,F,JE,840,000067540872,JE,USA,000067027314,XD,840,...,0,0,0,00,000,0000,00,00,00,JE84000006754087220151208

In [18]:
pdf4.columns = ['key' if col == 'key' else 'f4' + col for col in pdf4.columns]
pdf4.head()

,f4X1,f4X2,f4X3,f4X4,f4X5,f4X6,f4X7,f4X8,f4X9,f4X10,...,f4X306,f4X307,f4X308,f4X309,f4X310,f4X311,f4X312,f4X313,f4X314,key
0,0,F,JE,000,000000000000,JE,USA,000112755267,,,...,0,0,0,00,000,0000,00,00,00,JE00000000000000020120216
1,0,F,JE,000,000000000000,JE,USA,00099PJS0104,JE,USA,...,0,0,0,00,000,0000,00,00,00,JE00000000000000020161013
2,0,F,JE,000,000000000000,JE,USA,000072520700,JE,USA,...,0,0,0,00,000,0000,00,00,00,JE00000000000000020210726
3,0,F,JE,840,000067269606,JE,USA,000117968233,JE,USA,...,0,0,0,00,000,0000,00,00,00,JE84000006726960620160505
4,0,F,JE,840,000067540872,JE,USA,000067027314,XD,840,...,0,0,0,00,000,0000,00,00,00,JE84000006754087220151208

In [19]:
pdf5.columns = ['key' if col == 'key' else 'f5' + col for col in pdf5.columns]
pdf5.head()

,f5X1,f5X2,f5X3,f5X4,f5X5,f5X6,f5X7,f5X8,f5X9,f5X10,...,f5X328,f5X329,f5X330,f5X331,f5X332,f5X333,f5X334,f5X335,f5X336,key
0,0,F,JE,840,000067540872,JE,USA,000067027314,XD,840,...,26,501,1JE01011JE01,265011JE01011JE01,265011J,E01011JE01,E01,01,1JE01,JE84000006754087220151208
1,0,F,JE,840,003000586954,JE,USA,000111974939,JE,USA,...,,,,,,,,,,JE84000300058695420100922
2,0,F,JE,840,003000953289,,,,,,...,,,,,,,,,,JE84000300095328920090828
3,0,F,JE,840,003001226593,JE,USA,000117422971,XD,840,...,,,,,,,,,,JE84000300122659320181107
4,0,F,JE,840,003001226598,JE,USA,000117422971,JE,840,...,50,014,7HO02147HO02,500147HO02147HO02,500147H,O02147HO02,O02,14,7HO02,JE84000300122659820160418

## Merge both datasets by key. Keep all columns.
Latter, I will make sure shared columns have consistent information.

In [21]:
assert pdf4['key'].duplicated().sum() == 0
assert pdf5['key'].duplicated().sum() == 0

In [22]:
print(pdf4.shape[0])
sum(np.isin(pdf4['key'].to_numpy(), pdf5['key'].to_numpy()))

23353

np.int64(18853)

**SIDENOTE:**

Code `010501` creaates babydatasets to develop merging code.

Code `010502` splits data in unique and duplicated keys.

Code `010503` takes duplicated datasets, and spilt in consistent and no-consistent duplications. Delete duplis form const-duplicate and add to the already existing dataset with unique keys. Then, 2 datsets with non-cons duplciations gets unresolved.

Hence, despite babydatasets have spanned keys, some keys could go to the subset with unconsistent duplications. This is why you are not expected to see all both dataset are fully join in their keys.

In [17]:
print(pdf5.shape[0])
sum(np.isin(pdf5['key'].to_numpy(), pdf4['key'].to_numpy()))

13519

np.int64(11674)

## Merge and summarize data structure.
`outer` merge. 

Rows spanned by key should have information in all its columns. 

Rows in `pdf4` which key is not in `pdf5` must have information in columns of `pdf4` but `None` in columns for `pdf5`.

Rows in `pdf5` which key is not in `pdf4` must have information in columns of `pdf5` but `None` in columns for `pdf4`.

In [23]:
pdf = pd.merge(pdf4, pdf5, on='key', how='outer', indicator=True)
pdf = pdf.where(pd.notnull(pdf), None)

In [19]:
pdf.head()

,f4X1,f4X2,f4X3,f4X4,f4X5,f4X6,f4X7,f4X8,f4X9,f4X10,...,f5X328,f5X329,f5X330,f5X331,f5X332,f5X333,f5X334,f5X335,f5X336,_merge
0,0,F,JE,000,000000000000,JE,USA,000112755267,,,...,None,None,None,None,None,None,None,None,None,left_only
1,0,F,JE,000,000000000000,JE,USA,00099PJS0104,JE,USA,...,None,None,None,None,None,None,None,None,None,left_only
2,0,F,JE,000,000000000000,JE,USA,000072520700,JE,USA,...,None,None,None,None,None,None,None,None,None,left_only
3,0,F,JE,840,000067269606,JE,USA,000117968233,JE,USA,...,None,None,None,None,None,None,None,None,None,left_only
4,0,F,JE,840,000067540872,JE,USA,000067027314,XD,840,...,26,501,1JE01011JE01,265011JE01011JE01,265011J,E01011JE01,E01,01,1JE01,both

In [24]:
pdf.tail()

,f4X1,f4X2,f4X3,f4X4,f4X5,f4X6,f4X7,f4X8,f4X9,f4X10,...,f5X328,f5X329,f5X330,f5X331,f5X332,f5X333,f5X334,f5X335,f5X336,_merge
23348,0,F,JE,USA,003013554751,JE,USA,000116750732,JE,USA,...,50,200,7JE01007JE01,502007JE01007JE01,502007J,E01007JE01,E01,00,7JE01,both
23349,0,F,JE,USA,003013555221,JE,USA,000113486117,JE,USA,...,,,,,,,,,,both
23350,0,F,JE,USA,003131136007,JE,CAN,000107987340,XX,USA,...,None,None,None,None,None,None,None,None,None,left_only
23351,0,F,JE,USA,003134201809,JE,USA,000067172944,JE,USA,...,22,877,7JE01777JE01,228777JE01777JE01,228777J,E01777JE01,E01,77,7JE01,both
23352,0,F,JE,USA,003134201878,JE,USA,000117335815,JE,USA,...,,,,,,,,,,both

In [21]:
pdf.shape

(19673, 652)

In [30]:
keys4 = set(pdf4['key'])
keys5 = set(pdf5['key'])

n1 = len(keys4 & keys5)  # Keys in both pdf4 and pdf5
n2 = len(keys4 - keys5)  # Keys in pdf4 but not in pdf5
n3 = len(keys5 - keys4)  # Keys in pdf5 but not in pdf4
n4 = len(keys4 | keys5)  # Total unique keys across both

# Print results
print(f'Join data: n1 = {n1}')
print(f'Keys in pdf4 not in pdf5: n2 = {n2}')
print(f'Keys in pdf5 not in pdf4: n3 = {n3}')
print(f'Join keys, plus complement keys: n4 = {n4}')

# Expressed as proportions
print(f'100*n1/n4 = {100 * n1 / n4:.2f}%')  # Proportion of joined keys
print(f'100*n2/n4 = {100 * n2 / n4:.2f}%')  # Proportion of keys in pdf4 not in pdf5
print(f'100*n3/n4 = {100 * n3 / n4:.2f}%')  # Proportion of keys in pdf5 not in pdf4

# Validate assertions
assert n1 + n2 == len(keys4)
assert n1 + n3 == len(keys5)
assert n1 + n2 + n3 == n4

Join data: n1 = 18853
Keys in pdf4 not in pdf5: n2 = 4500
Keys in pdf5 not in pdf4: n3 = 0
Join keys, plus complement keys: n4 = 23353
100*n1/n4 = 80.73%
100*n2/n4 = 19.27%
100*n3/n4 = 0.00%

# Before Save as txt:
Replace `None` by `'n'*k`, where `k` is the number of expected characters you shoiuld have in this field.

Then, in a column (ex. `df5X35`) where information has 5 strokes, I should replace `None` by `'nnnnn'`.

When saving the pdf to txt file, I will be able to track these gaps.

In [31]:
ncharmap = [len(str(field)) for field in pdf.loc[int(pdf['_merge'][pdf['_merge'] == 'both'].index[0])]]
len(ncharmap)

652

In [43]:
ncharmap[0:3]

[1, 1, 2]

In [44]:
# Visualize before.
cs = 0
for col in pdf:
    rs = 0
    cs += 1
    if cs >= 11:
        break
    for field_i in pdf[col]:
        rs += 1
        if rs >= 9:
            break
        print(f'col = {col}. field_i = {field_i}')
        if field_i == None:
            print('Detection')

col = f4X1. field_i = 0
col = f4X1. field_i = 0
col = f4X1. field_i = 0
col = f4X1. field_i = 0
col = f4X1. field_i = 0
col = f4X1. field_i = 0
col = f4X1. field_i = 0
col = f4X1. field_i = None
Detection
col = f4X2. field_i = F
col = f4X2. field_i = F
col = f4X2. field_i = F
col = f4X2. field_i = F
col = f4X2. field_i = F
col = f4X2. field_i = F
col = f4X2. field_i = F
col = f4X2. field_i = None
Detection
col = f4X3. field_i = JE
col = f4X3. field_i = JE
col = f4X3. field_i = JE
col = f4X3. field_i = JE
col = f4X3. field_i = JE
col = f4X3. field_i = JE
col = f4X3. field_i = JE
col = f4X3. field_i = None
Detection
col = f4X4. field_i = 000
col = f4X4. field_i = 000
col = f4X4. field_i = 000
col = f4X4. field_i = 840
col = f4X4. field_i = 840
col = f4X4. field_i = 840
col = f4X4. field_i = 840
col = f4X4. field_i = None
Detection
col = f4X5. field_i = 000000000000
col = f4X5. field_i = 000000000000
col = f4X5. field_i = 000000000000
col = f4X5. field_i = 000067269606
col = f4X5. field_i = 000067540872
col = f4X5. field_i = 000300258461
col = f4X5. field_i = 003000586954
col = f4X5. field_i = None
Detection
col = f4X6. field_i = JE
col = f4X6. field_i = JE
col = f4X6. field_i = JE
col = f4X6. field_i = JE
col = f4X6. field_i = JE
col = f4X6. field_i = JE
col = f4X6. field_i = JE
col = f4X6. field_i = None
Detection
col = f4X7. field_i = USA
col = f4X7. field_i = USA
col = f4X7. field_i = USA
col = f4X7. field_i = USA
col = f4X7. field_i = USA
col = f4X7. field_i = USA
col = f4X7. field_i = USA
col = f4X7. field_i = None
Detection
col = f4X8. field_i = 000112755267
col = f4X8. field_i = 00099PJS0104
col = f4X8. field_i = 000072520700
col = f4X8. field_i = 000117968233
col = f4X8. field_i = 000067027314
col = f4X8. field_i = 000000093UNK
col = f4X8. field_i = 000111974939
col = f4X8. field_i = None
Detection
col = f4X9. field_i =
col = f4X9. field_i = JE
col = f4X9. field_i = JE
col = f4X9. field_i = JE
col = f4X9. field_i = XD
col = f4X9. field_i =
col = f4X9. field_i = JE
col = f4X9. field_i = None
Detection
col = f4X10. field_i =
col = f4X10. field_i = USA
col = f4X10. field_i = USA
col = f4X10. field_i = USA
col = f4X10. field_i = 840
col = f4X10. field_i =
col = f4X10. field_i = USA
col = f4X10. field_i = None
Detection

In [33]:
for col, nchar in zip(pdf.columns, ncharmap):
    pdf[col] = pdf[col].apply(lambda x: x if x is not None else 'n' * nchar)

In [34]:
# Visualize after:
cs = 0
for col in pdf:
    rs = 0
    cs += 1
    if cs >= 11:
        break
    for field_i in pdf[col]:
        rs += 1
        if rs >= 9:
            break
        print(f'col = {col}. field_i = {field_i}')
        if field_i == None:
            print('Detection')

col = f4X1. field_i = 0
col = f4X1. field_i = 0
col = f4X1. field_i = 0
col = f4X1. field_i = 0
col = f4X1. field_i = 0
col = f4X1. field_i = 0
col = f4X1. field_i = 0
col = f4X1. field_i = 0
col = f4X2. field_i = F
col = f4X2. field_i = F
col = f4X2. field_i = F
col = f4X2. field_i = F
col = f4X2. field_i = F
col = f4X2. field_i = F
col = f4X2. field_i = F
col = f4X2. field_i = F
col = f4X3. field_i = JE
col = f4X3. field_i = JE
col = f4X3. field_i = JE
col = f4X3. field_i = JE
col = f4X3. field_i = JE
col = f4X3. field_i = JE
col = f4X3. field_i = JE
col = f4X3. field_i = JE
col = f4X4. field_i = 000
col = f4X4. field_i = 000
col = f4X4. field_i = 000
col = f4X4. field_i = 840
col = f4X4. field_i = 840
col = f4X4. field_i = 840
col = f4X4. field_i = 840
col = f4X4. field_i = 840
col = f4X5. field_i = 000000000000
col = f4X5. field_i = 000000000000
col = f4X5. field_i = 000000000000
col = f4X5. field_i = 000067269606
col = f4X5. field_i = 000067540872
col = f4X5. field_i = 000300258461
col = f4X5. field_i = 003000586954
col = f4X5. field_i = 003000953289
col = f4X6. field_i = JE
col = f4X6. field_i = JE
col = f4X6. field_i = JE
col = f4X6. field_i = JE
col = f4X6. field_i = JE
col = f4X6. field_i = JE
col = f4X6. field_i = JE
col = f4X6. field_i =
col = f4X7. field_i = USA
col = f4X7. field_i = USA
col = f4X7. field_i = USA
col = f4X7. field_i = USA
col = f4X7. field_i = USA
col = f4X7. field_i = USA
col = f4X7. field_i = USA
col = f4X7. field_i =
col = f4X8. field_i = 000112755267
col = f4X8. field_i = 00099PJS0104
col = f4X8. field_i = 000072520700
col = f4X8. field_i = 000117968233
col = f4X8. field_i = 000067027314
col = f4X8. field_i = 000000093UNK
col = f4X8. field_i = 000111974939
col = f4X8. field_i =
col = f4X9. field_i =
col = f4X9. field_i = JE
col = f4X9. field_i = JE
col = f4X9. field_i = JE
col = f4X9. field_i = XD
col = f4X9. field_i =
col = f4X9. field_i = JE
col = f4X9. field_i =
col = f4X10. field_i =
col = f4X10. field_i = USA
col = f4X10. field_i = USA
col = f4X10. field_i = USA
col = f4X10. field_i = 840
col = f4X10. field_i =
col = f4X10. field_i = USA
col = f4X10. field_i =

## Check shared columns.

Do shared columns have same data?

In [35]:
col_f4inf5 = col_f4inf5.apply(lambda i: i if i.startswith('f4') else 'f4' + i)
col_f5inf4 = col_f5inf4.apply(lambda i: i if i.startswith('f5') else 'f5' + i)

In [36]:
col_f4inf5.head()

0    f4X1
1    f4X2
2    f4X3
3    f4X4
4    f4X5
Name: Column number, dtype: object

In [37]:
col_f5inf4.head()

0    f5X1
1    f5X2
2    f5X3
3    f5X4
4    f5X5
Name: Column number, dtype: object

In [69]:
pdf[col_f4inf5[0]][0:5]

0    0
1    0
2    0
3    0
4    0
Name: f4X1, dtype: object

In [70]:
pdf[col_f5inf4[0]][0:5]

0    n
1    n
2    n
3    n
4    0
Name: f5X1, dtype: object

In [38]:
ineq_count = (~((pdf[col_f4inf5[0]] == 'n') | 
                (pdf[col_f5inf4[0]] == 'n') | 
                (pdf[col_f4inf5[0]] == pdf[col_f5inf4[0]]))).sum()
int(ineq_count)

0

Share if columns are equal is another quality check that will take time.
For now. I prefer to just save the merged dataset, and latter proceed checking the columns.

In [43]:
pdf = pdf.drop(columns=['_merge'])
pdf.head(9)

,f4X1,f4X2,f4X3,f4X4,f4X5,f4X6,f4X7,f4X8,f4X9,f4X10,...,f5X327,f5X328,f5X329,f5X330,f5X331,f5X332,f5X333,f5X334,f5X335,f5X336
0,0,F,JE,000,000000000000,JE,USA,000112755267,,,...,067007JE01007JE01,06,700,7JE01007JE01,067007JE01007JE01,067007J,E01007JE01,E01,00,7JE01
1,0,F,JE,000,000000000000,JE,USA,00099PJS0104,JE,USA,...,366523JE01523JE01,36,652,3JE01523JE01,366523JE01523JE01,366523J,E01523JE01,E01,52,3JE01
2,0,F,JE,000,000000000000,JE,USA,000072520700,JE,USA,...,319180HO91180HO91,31,918,0HO91180HO91,319180HO91180HO91,319180H,O91180HO91,O91,18,0HO91
3,0,F,JE,840,000067269606,JE,USA,000117968233,JE,USA,...,,,,,,,,,,
4,0,F,JE,840,000067540872,JE,USA,000067027314,XD,840,...,265011JE01011JE01,26,501,1JE01011JE01,265011JE01011JE01,265011J,E01011JE01,E01,01,1JE01
5,0,F,JE,840,000300258461,JE,USA,000000093UNK,,,...,711001JE00001JE00,71,100,1JE00001JE00,711001JE00001JE00,711001J,E00001JE00,E00,00,1JE00
6,0,F,JE,840,003000586954,JE,USA,000111974939,JE,USA,...,,,,,,,,,,
7,0,F,JE,840,003000953289,,,,,,...,,,,,,,,,,
8,0,F,JE,840,003001167791,JE,USA,000110300836,JE,USA,...,nnnnnnnnnnnnnnnnn,nn,nnn,nnnnnnnnnnnn,nnnnnnnnnnnnnnnnn,nnnnnnn,nnnnnnnnnn,nnn,nn,nnnnn

## Save TXT file.
Save as txt.

In [82]:
init.Save_PDF_as_TXT(pdf, 'merged.txt')